img.barnardos-logo {
  height: 60px;
}

h6.barnardos-we-believe {
  font-family: BookmanITCStd-Medium;
  margin: 0 0 0 32px;
  padding-left: 12px;
  font-size: 17px;
  line-height: 17px;
  width: 65px;
  height: 70px;
  border-left: solid 5px #e1e1e1;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  color: black;
}

a.btn-barnardos {
  background-color: #55b946 !important;
  border-color: #55b946 !important;
}

a.btn-barnardos-donate {
  text-transform: none !important;
}

.barnardos-social-media-icons {
  color: #55b946;
}